body, html {
    background-image:url("../images/seamless_paper_texture.png");
    font-family:Segeo UI;
}

.display-4, .lead {
    text-align:center;
}

.jumbotron {
    background-color:lightgreen;
    height:200px;
}

.card-header {
    background-color:orange;
}

#submitBtn {
    background-color:lightgreen;
}

h5 {
    text-align:center;
}
